[default]
clientIp = 192.168.1.253
serverIp = 192.168.1.250
netSimIp = 192.168.1.251
portNetSim = 8000
portCliServ = 8001
window = 4
packetSize = 32
dropRate = -1
delayMax = 0.0005
sendOutDelay = 0.2

maxretries = 3

[starting]
syn = 0
ack = 0

[filepath]
src = src.txt
dest = dest.txt